@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

body{
    background-color: #0e0e0e;
}

a.brand-name{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

p.title-text{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 35px;
    margin-top: 150px;
    font-weight: 400;
}

span.date-text{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.container-date{
    margin-top: 150px;
}

.footer-left{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-top: 40px;
}

.buy-btn{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: transparent;
}
.buy-btn:hover{
    font-size: 18px;
    transition: all .3s;
}

.buy-btn::after{
    content: '';
    display: block;
    background-color: #ffffff;
    height: 3px;
    width: 135px;
    border-radius: 2px;
    margin-top: 5px;
}

.adress-text{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-top: 40px;
}

.lorem-right{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-left: auto;
    transform-origin: 100% 100%;
    transform: rotate(90deg);
    margin-right: 20px;
}

.adress-container{
    flex-direction: column;
}

.card-container{
    width: calc(100% + 100px);
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    top: 0;
    z-index: 100;
}

.vh-row{
    min-height: 100vh;
}

.cinema-card-1{
    width: 300px;
    height: 300px;
    background-color: #0e0e0e;
    border: solid 1px #979696;
    padding: 10px;
    box-shadow: 15px 15px 0px 0px rgb(212, 163, 49), 15px 15px 0px 1px rgba(255,255,255,.5);
    z-index: 90;
}

.music-card-1{
    width: 200px;
    height: 250px;
    background-color: #0e0e0e;
    border: solid 1px #979696;
    padding: 10px;
    box-shadow: 15px 15px 0px 0px rgb(78, 124, 67), 15px 15px 0px 1px rgba(255,255,255,.5);
    z-index: 80;
}

.art-card-1{
    width: 235px;
    height: 250px;
    background-color: #0e0e0e;
    border: solid 1px #979696;
    padding: 10px;
    box-shadow: 10px 8px 0px 0px rgb(213, 58, 56), 10px 8px 0px 1px rgba(255,255,255,.5), 20px 20px 0px 0px rgb(162, 51, 51), 20px 20px 0px 1px rgba(255,255,255,.5);
    z-index: 80;
}

.card-title{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.bottom-card-container{
    position: relative;
    width: 50%;
}

.cinema-card-left-text{
    font-family: 'Montserrat', sans-serif;
    color: #979696;
    font-size: 13px;
    margin-top: auto;
    margin-bottom: 0;
}

.cinema-card-day{
    font-family: 'Montserrat', sans-serif;
    color:  #979696;
    opacity: .8;
    font-size: 25px;
}

.movie-title{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.music-lorem{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    max-width: 140px;
    margin-top: 10px;
}

.movie-lorem{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    max-width: 140px;
    margin-top: 10px;
}

.cinema-card-hour{
    font-family: 'Montserrat', sans-serif;
    color: #979696;
    font-size: 14px;
    margin-top: auto;
}

.right-card-container{
    width: 50%;
    max-width: 110px;
    margin-left: auto;
}

.top-card-container{
    width: 100%;
}

.d1, .d2, .d3{
    position: absolute;
}

.d1{
    top: 60px;
    left: auto;
    right: 260px;
    bottom: auto;
}

.d2{
    top: auto;
    left: auto;
    bottom: 100px;
    right: 120px;
}

.d3{
    top: auto;
    bottom: 0;
    right: auto;
    left: -90px;
}

.music-title{
    font-size: 25px;
    text-align: end;
}

.right-card-container.right-card-container-music{
    width: 100%;
    max-width: 100%;
}

.right-card-container.right-card-container-art{
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-bottom: 25px;
}