@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

body{
    background-color: #0e0e0e;
}

a.brand-name{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

p.title-text{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 35px;
    margin-top: 150px;
    font-weight: 400;
}

span.date-text{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.container-date{
    margin-top: 150px;
}

.footer-left{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-top: 40px;
}

.buy-btn{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: transparent;
}
.buy-btn:hover{
    font-size: 18px;
    transition: all .3s;
}

.buy-btn::after{
    content: '';
    display: block;
    background-color: #ffffff;
    height: 3px;
    width: 135px;
    border-radius: 2px;
    margin-top: 5px;
}

.adress-text{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-top: 40px;
}

.lorem-right{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-left: auto;
    transform-origin: 100% 100%;
    transform: rotate(90deg);
    margin-right: 20px;
}

.adress-container{
    flex-direction: column;
}

.card-container{
    width: calc(100% + 100px);
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    top: 0;
    z-index: 2;
}

.vh-row{
    min-height: 100vh;
}

.cinema-card-1{
    width: 220px;
    height: 220px;
    border: solid 1px #979696;
}

.cinema-title{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.cinema-card-left-text{
    font-family: 'Montserrat', sans-serif;
    color:  #979696;
    font-size: 15px;
}

.cinema-card-day{
    font-family: 'Montserrat', sans-serif;
    color:  #979696;
    opacity: .8;
    font-size: 25px;
}

.movie-title{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 15px;
}